@*@model HR_Tool.Core.Wage

@if (Model.WageChanges.Count != 0)
{
    for (int i = 0; i < Model.WageChanges.Count; i++)
    {
        <tr>
            @Model.WageChanges.Count
            <td class="editor-field">
                @Html.EditorFor(model => model.WageChanges[i].DateOfChange)
            </td>


            <td class="editor-field">
                @Html.EditorFor(model => model.WageChanges[i].IsDecrease)
            </td>

            <td class="editor-field">
                @Html.EditorFor(model => model.WageChanges[i].ChangeAmount)
            </td>

        </tr>
    }
}
<script>
    $(function () {
        $("#addWageChange").click(function () {

            $.ajax({
                type: "POST",
                url: 'Employees/GenerateWageChanges', // get the link to the controller's action method
                data: form.serialize()
            })
            .success(function (html) {
                // this function will automatically called when response of the called ajax call is success
                var tableBody = $("#tblWageChangesBody");
                tableBody.text(html);
            })
            .error(function (msg) {
                console.log(msg);
            });

        });
    });
</script>*@
